body {
  background-color: powderblue;
}
h1 {
  
  color: rgb(143, 143, 216);
}
h2{
  color:rgb(255, 221, 136)
}
p {
  color: rgb(255, 156, 156);
}
footer{
    color: antiquewhite;
}
header{
    color: aliceblue;
}
